.our-clients {
  item-align: center;
  text-align: center;
  padding: 20px;
}

.client-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: contain;
  layout: fill;
}

.client-logo {
  width: 150px;
  height: auto;
  margin: 10px;
  transition: transform 0.3s ease;
}

.client-logo:hover {
  transform: scale(1.1);
}
